<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <!-- <script src="frontend_helper.js"></script> -->
    <title>SevDesk - Spendenbescheinigungen</title>
</head>
<body>

    <div class="container" id="overview">
        <h1>Übersicht</h1> 
        <p>Hier sehen Sie eine Übersicht über die aktuellen Jobs der Spendenbescheinigungs-Automatisierung.</p>
        <ul>
            <li>"Offen" sind dabei alle angelegten Spender aus SevDesk, die von dort importiert wurden, aber deren Bescheinigung noch nicht angestoßen wurde.</li>
            <li>"Prüfen" sind alle Spender, deren Bescheinigungen automatisch erstellt wurden. Diese müssen vor dem Absenden zunächst auf ihre Richtigkeit geprüft werden.</li>
            <li>"Abgeschlossen" sind alle Spender, deren Bescheinigungen bereits geprüft und abgeschickt sind.</li>
        </ul>
        <button onclick="setData()">Hier klicken</button>
        <button onclick="setTableWidth()">Hier auch bitte</button>
        <div>
            <table id="overview-table">
                <thead>
                    <tr>
                        <th id="open-jobs"><center>Offen</center></th>
                        <th id="check-jobs"><center>Prüfen</center></th>
                        <th id="successful-jobs"><center>Abgeschlossen</center></th>
                    </tr>    
                </thead>
                <tr>
                    <td class="job-nr" id="open-jobs-nr"><center><a href="#" onclick="showTable('open-jobs')">0</a></center></td>
                    <td class="job-nr" id="check-jobs-nr"><center><a href="#" onclick="showTable('check-jobs')">0</a></center></td>
                    <td class="job-nr" id="successful-jobs-nr"><center><a href="#" onclick="showTable('successful-jobs')">0</a></center></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="container" id="autocreate">

    </div>


    <script>
        if(document.getElementById('autocreate') != undefined) {
            alert('hello');
        }



        function showTable(status) {
            /*
            switch (status){
                case 'open-jobs': 
                    alert('here are all open to be done Jobs');
                    break;
                case 'check-jobs':
                    alert('please check the here listed jobs');
                    break;
                case 'successful-jobs':
                    alert('here are the successfully closed jobs');
                    break;
            }
            */

            const container = document.getElementsById('autocreate');
            let table = document.createElement('table');
            table.setAttribute('id', 'autocreate-table');

            let thead = document.createElement('thead');
            let trhead = document.createElement('tr')
            for (let i = 0; i < tableWidth.length; i++) {
                let th = document.createElement('th');
                th.appendChild(document.createTextNode(tableWidth[i]));
                trhead.appendChild(th);
            }
            thead.appendChild(trhead);
            
            table.appendChild(thead);


            let tbody = document.createElement('tbody');

            for (const key in tableData) {
                if (Object.hasOwnProperty.call(TableData, key)) {
                    const element = tableData[key];
                    let tr = document.createElement('tr');
                    for (let j = 0; j < element.length; j++) {q
                        const cellElement = element[j];
                        let td = document.insertCell();
                        td.appendChild(document.createTextNode(cellElement));
                        tr.appendChild(td);
                    }
                    tbody.appendChild(tr);
                }
            }
            table.appendChild(tbody);
            container.appendChild(table);
            alert('hi');
        }

        

        function setTableWidth(width) {
            // tableWidth = width; 
            let tableWidth = ['Spenden', 'Datum', 'Kundennummer', 'Vorname(n)', 'Nachname', 'Titel', 'Kategorie', 'Name2', 'Status', 'Währung', 'Summe'];
        }

        function setData(data) {
            // TableData = data;
            let data = {
                "objects": [                     
                ]
            };
            tableData = data.objects;
        }


    </script>


</body>
</html>